.container{
    display: flex;
    background-color: #2b1a1c;
}

.flexItem{
    border: 1px solid blue;
    background-color: #2b1a1c;
    color: azure;
   margin: 1rem;
    padding: 1rem;
    font: 1.5rem 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.flexItem2 {
border: 1px solid blue;
    background-color: #2b1a1c;
    color: azure;
    padding: 1rem;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font: 1.5rem 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


.flexname{
        border: 1px solid blue;
    background-color: #2b1a1c;
    color: azure;
   margin: 1rem;
    padding: 1rem;
    font-size: 36pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footerItem{
    font-family: 1.5rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}