.container{
    display: flex;
    background-color: #2b1a1c;
}

.flexItem{
    background-color: #2b1a1c;
    color: azure;
   margin: 1rem;
    padding: 1rem;
    font: 1.5rem 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}


.flexItem2 {
    background-color: #2b1a1c;
    color: azure;
    padding: 1rem;
    margin-left: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font: 1.5rem 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


.flexname{
    background-color: #2b1a1c;
    color: azure;
   margin: 1rem;
    padding: 1rem;
    font-size: 36pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.footerItem{
    font-family: 1.5rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.profileContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr  ;
    /*border: 1px solid blue;*/
    margin: 2rem;
    justify-content: center;
    
}

.proj{
   margin-bottom: 3rem; 
}
    
    
    
    
}

.project1{
    border: 1px solid blue;
    grid-column:3 / 4 ;
    grid-row:2 / 3 ;
    margin-right:2rem;
}
.project2{
    border: 1px solid blue;
    grid-column:4 / 5 ;
    grid-row: 3 / 4;
    margin:2rem;
}
.project3{
    border: 1px solid blue;
    grid-column: 5 / 6;
    grid-row: 4 / 5;
    margin:rem;
    
}

.flexcontainer2{
    display: flex;
    background-color: #2b1a1c;
    justify-content: center;
    margin-top: 15rem;
}

.footerItem{
    background-color: #2b1a1c;
    font-family: 1.5rem 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
}

.searchbar{
    width: 40%;
    margin-bottom: 3rem;
   
}
.button{
    background-color: lightgreen;
    font-size: 12pt;
    margin-left: 1rem;
    border-radius: 5px;

}
h2{
    font-size: 24pt;
    
}

p{
    font-size: 14pt;
}
